.header-container {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 2rem;
  .text {
    font-family: 'Kelly Slab', sans-serif;
    font-size: 1.5rem;
  }
  .ant-select-selection-item {
    font-family: 'Kelly Slab', sans-serif;
      font-size: 1.5rem;
  }
  .logIn-btn {
    height: 100%
  }
  .forest-icon {
    height: 70px;
  }
  
  
}