.main-text {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.3rem;
}

.ant-input {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 1.5rem;
}

.ant-input-search-button {
  background-color: #73d13d;
}